# Compiler files
cache/
out/*
!out/Staqe.sol
!out/StaqeProtocol.sol
!out/StaqeViews.sol
!out/StaqePermit.sol
!out/IStaqe.sol
!out/IStaqeErrors.sol
!out/IStaqeEvents.sol
!out/IStaqeStructs.sol
!out/ERC20.sol
!out/ERC721.sol

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

.DS_Store
